.App {
  text-align: center;

}

html{
      background-color: #19273C;
      color:white;
}
.hiking-div{
  height: 868px;
      width: 100%;
      float: left;
      padding-top: 23px;

}
.r1-c1{
  height: 50%;
width: 50%;
float: left;
}

.r1-c2{
  height: 50%;
width: 50%;
float: left;
}
.r2-c1{
  height: 50%;
width: 50%;
float: left;
}

.r2-c2{
  height: 50%;
width: 50%;
float: left;
}
.row-one{
  width: 100%;
height: 25%;
}

.row-two{
  width: 100%;
height: 25%;
}
.App-title{
    margin-top: -6px;
    font-weight: 100;
    font-size: 26px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.outer-div{float:left;}
.App-header {
  background-color: #222;
  height: 14px;
  padding: 20px;
  color: white;
}
.buttonFlat{
  color:white !important;
  font-size:16px !important;
}
.App-intro {
  font-size: large;
  text-align:left;
  margin-left:45px;
  margin-top:30px;
  font-size: 25px;
}
button.buttonFlat {
    float: left;
    margin-left: 48px !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
